<header #header>
    <div class="smallBar">
        <div class="iconsDiv">
            <img src="icons/mj.svg" alt=""> 
            <img src="icons/converse.svg" alt="">
        </div>

        <div class="optionsDiv">
            <div>
                <p>
                    Trova un negozio
                </p>
            </div> 
            <div>
                <p>
                    Aiuto
                </p>
            </div> 
            <div>
                <p>
                    Unisciti a noi
                </p>
            </div> 
            <div>
                @if (isLoggedIn) {
                    <p [routerLink]="['/dashboard', user._id]">Benvenuto, {{user.name}}</p>
                } @else {
                    <p routerLink="/login">Accedi</p>
                }
            </div> 
        </div>
    </div>

    <div class="bigBar">
        <div routerLink="/home" class="conLogo"> <!--This is where the logo will go just the logo-->
            <img src="icons/nikelogo.svg" alt="">
        </div>

        <div class="conMenu"> <!--This is where the menu will be this disappears at some point -->
            <div class="menu menuNovita"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Novita' e in evidenza</p> 
                <div class="inner innerNovita">
                    <div>
                        <p>In evidenza</p>
                        <p>Tutti i nuovi arrivi</p>
                        <p>Best seller</p>
                        <p>Calendario dei lanci SNKRS</p>
                    </div>

                    <div>
                        <p>Scopri le icone</p>
                        <p>Air Force 1</p>
                        <p>Air Jordan 1</p>
                        <p>Air Max</p>
                        <p>Dunk</p>
                        <p>Blazer</p>
                        <p>Pegasus</p>
                        <p>Mercurial</p>
                    </div>

                    <div>
                        <p>Jordan</p>
                        <p>Tutti gli articoli Jordan</p>
                        <p>Nuovi lanci</p>
                        <p>Streetwear</p>
                        <p>Jordan Basketball</p>
                        <p>Jordan Golf</p>
                        <p>Jordan x PSG</p>
                    </div>

                    <div>
                        <p>Scopri lo sport</p>
                        <p>Calcio</p>
                        <p>Running</p>
                        <p>Basket</p>
                        <p>Fitness</p>
                        <p>Golf</p>
                        <p>Tennis</p>
                        <p>Yoga</p>
                        <p>Danza</p>
                        <p>Skateboard</p>
                    </div>

                </div>
            </div>

            <div class="menu menuUomo"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Uomo</p> 
                <div class="inner innerUomo">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Sneakers Y2K</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Fitness e training</p>
                        <p>Skateboard</p>
                        <p>Nike By You</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni e tights</p>
                        <p>Tute</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Divise e maglie</p>
                        </div>

                        <div>
                        <p>Scopri lo sport</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Fitness e training</p>
                        <p>Tennis</p>
                        <p>Golf</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuDonna"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Donna</p> 
                <div class="inner innerDonna">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Nike Style By</p>
                        <p>Sneakers Y2K</p>
                        <p>Teenager</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Running</p>
                        <p>Fitness e training</p>
                        <p>Calcio</p>
                        <p>Nike By You</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni</p>
                        <p>Leggings</p>
                        <p>Set coordinati</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Reggiseni sportivi</p>
                        </div>

                        <div>
                        <p>Scopri lo sport</p>
                        <p>Fitness</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Tennis</p>
                        <p>Danza</p>
                        <p>Yoga</p>
                        <p>Golf</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuKids"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Kids</p> 
                <div class="inner innerKids">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Teenager+</p>
                        <p>EasyOn</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Calcio</p>
                        <p>Running</p>
                        <p>Basket</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni e leggings</p>
                        <p>Tute</p>
                        <p>Set coordinati</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Divise e maglie</p>
                        </div>

                        <div>
                        <p>Kids per età</p>
                        <p>Ragazzo/a (7-15 anni)</p>
                        <p>Bambino/a (3-7 anni)</p>
                        <p>Bebè e bimbo/a (0-3 anni)</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuOutlet"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Outlet</p> 
                <div class="inner innerOutlet">
                    <div>
                    <p>Offerte</p>
                    <p>Tutte le offerte</p>
                    <p>Best seller</p>
                    <p>Ultima occasione</p>
                    </div>

                    <div>
                    <p>Outlet - Uomo</p>
                    <p>Tutti gli articoli outlet - Uomo</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet - Donna</p>
                    <p>Tutti gli articoli outlet - Donna</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet - Kids</p>
                    <p>Tutti gli articoli outlet - Kids</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet per sport</p>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Fitness e training</p>
                    <p>Basket</p>
                    <p>Tennis</p>
                    <p>Golf</p>
                    <p>Yoga</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>

        <div class="conSearchIcons"> <!--Contains the search bar and the favorites and cart icons-->
            <div (click)="onClickSearch()" class="conSearchBar">
                <img src="icons/search.svg" alt="">
                <input type="text" placeholder="Cerca">
            </div> <!--contains the search bar-->
            <div class="conHeartCart">
                <img class="heartIcon" src="icons/heart.svg" alt="">
                <div class="cart" [routerLink]="isLoggedIn ? ['/cart', user._id] : ['/cart']" alt="">
                    <img  src="icons/cart.svg" >
                    @if (quantity > 0) {
                        <p class="quantity">{{quantity}}</p>
                    } @else {
                        <p class="quantity"></p>
                    }
                </div>
                <div class="hamburger" (click)="openHamburger()">
                    <img src="icons/hamburger.svg" alt="">
                </div>
            </div> <!--contains the heart and cart icons-->
        </div> 
    </div>
</header>

<div *ngIf="searching" class="searchPart">
    <div class="conSearch2">
        <img src="icons/nikelogo.svg" alt="">
        <div class="conSearchBar2">
            <img src="icons/search.svg" alt="">
            <input [(ngModel)]="userInput" (keyup)="onSearch()" type="text" placeholder="Cerca" #searchInput>
        </div> 
        <p (click)="close()">Annulla</p>
        <div class="results">
            <div [routerLink]="['/shoeDetail', shoeRes._id]" (click)="close()" class="conShoes" *ngFor="let shoeRes of shoes">
                <img  [src]="shoeRes.immagini[0]" alt="">
                <p>{{shoeRes.nome}}</p>
            </div>
        </div>
    </div>
    <div class="overlay2" (click)="close()"></div>
</div>

<div id="barraHamburger" #barraHamburger>

    <div class="x" (click)="closeHamburger()"><img [src]="'/icons/x.svg'" alt=""></div> 
    <div class="wrap">
        <div class="menuHamburger">

            <input type="checkbox" id="novita">
            <input type="checkbox" id="novitaEvidenza">
            <input type="checkbox" id="novitaIcone">
            <input type="checkbox" id="novitaSport">
            <input type="checkbox" id="novitaTendenza">

            <input type="checkbox" id="uomo">
            <input type="checkbox" id="uomoEvidenza">
            <input type="checkbox" id="uomoScarpe">
            <input type="checkbox" id="uomoAbbigliamento">
            <input type="checkbox" id="uomoSport">
            <input type="checkbox" id="uomoAccessori">

            <input type="checkbox" id="donna">
            <input type="checkbox" id="donnaEvidenza">
            <input type="checkbox" id="donnaScarpe">
            <input type="checkbox" id="donnaAbbigliamento">
            <input type="checkbox" id="donnaSport">
            <input type="checkbox" id="donnaAccessori">

            <input type="checkbox" id="kids">
            <input type="checkbox" id="kidsEvidenza">
            <input type="checkbox" id="kidsScarpe">
            <input type="checkbox" id="kidsAbbigliamento">
            <input type="checkbox" id="kidsEta">
            <input type="checkbox" id="kidsAccessori">

            <input type="checkbox" id="outlet">
            <input type="checkbox" id="outletOfferte">
            <input type="checkbox" id="outletUomo">
            <input type="checkbox" id="outletDonna">
            <input type="checkbox" id="outletKids">
            <input type="checkbox" id="outletSport">

            <div>
            <label for="novita">Novita' e in evidenza<img src="icons/right.svg" alt=""></label>
            <label for="novita" class="back"><img src="icons/left.svg" alt="">Tutto</label>
                <div>
                    <label for="novitaEvidenza">In evidenza<img src="icons/right.svg" alt=""></label>
                    <label for="novitaEvidenza" class="back"><img src="icons/left.svg" alt="">Novita' e in evidenza</label>
                    <p>Tutti i nuovi arrivi</p>
                    <p>Best seller</p>
                    <p>Calendario dei lanci SNKRS</p>
                    <p>Acquista regali</p>
                    <p>Gift card Nike</p>
                </div>
                <div>
                    <label for="novitaIcone">Scopri le icone</label>
                    <label for="novitaIcone" class="back">Novita' e in evidenza</label>
                    <p>Air Force 1</p>
                    <p>Air Jordan 1</p>
                    <p>Air Max</p>
                    <p>Dunk</p>
                    <p>Blazer</p>
                    <p>Pegasus</p>
                    <p>Mercurial</p>

                </div>
                <div>
                    <label for="novitaSport">Scopri lo sport</label>
                    <label for="novitaSport" class="back">Novita' e in evidenza</label>
                    <p>Calcio</p>
                    <p>Running</p>
                    <p>Basket</p>
                    <p>Fitness</p>
                    <p>Golf</p>
                    <p>Tennis</p>
                    <p>Yoga</p>
                    <p>Danza</p>
                    <p>Skateboard</p>

                </div>
                <div>
                    <label for="novitaTendenza">Di tendenza</label>
                    <label for="novitaTendenza" class="back">Novita' e in evidenza</label>
                    <p>Nike Sportswear</p>
                    <p>Sneakers Y2K</p>
                    <p>Nike Style By</p>
                    <p>Teenager</p>
                    <p>EasyOn</p>
                    <p>Idee regalo Nike</p>
                    <p>Sostenibilità</p>
                </div>
            </div>

            <div>
                <label for="uomo">Uomo</label>
                <label for="uomo" class="back">Tutto</label>
                <div>
                    <label for="uomoEvidenza">In evidenza</label>
                    <label for="uomoEvidenza" class="back">Uomo</label>
                    <p>Novità</p>
                    <p>Best seller</p>
                    <p>Sneakers Y2K</p>
                    <p>Regali per lui</p>
                </div>
                <div>
                    <label for="uomoScarpe">Scarpe</label>
                    <label for="uomoScarpe" class="back">Uomo</label>
                    <p>Tutte le scarpe</p>
                    <p>Lifestyle</p>
                    <p>Jordan</p>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Basket</p>
                    <p>Fitness e training</p>
                    <p>Skateboard</p>
                    <p>Nike By You</p>
                </div>

                <div>
                    <label for="uomoAbbigliamento">Abbigliamento</label>
                    <label for="uomoAbbigliamento" class="back">Uomo</label>
                    <p>Tutto l'abbigliamento</p>
                    <p>Felpe</p>
                    <p>Giacche</p>
                    <p>Pantaloni e tights</p>
                    <p>Tute</p>
                    <p>Maglie e t-shirt</p>
                    <p>Shorts</p>
                    <p>Divise e maglie</p>
                </div>

                <div>
                    <label for="uomoSport">Sport</label>
                    <label for="uomoSport" class="back">Uomo</label>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Basket</p>
                    <p>Fitness e training</p>
                    <p>Tennis</p>
                    <p>Golf</p>
                </div>

                <div>
                    <label for="uomoAccessori">Accessori</label>
                    <label for="uomoAccessori" class="back">Uomo</label>
                    <p>Tutti gli accessori</p>
                    <p>Borse e zaini</p>
                    <p>Copricapi</p>
                    <p>Calze</p>
                </div>

            </div>

            <div>
                <label for="donna">Donna</label>
                <label for="donna" class="back">Tutto</label>
                <div>
                    <label for="donnaEvidenza">In evidenza</label>
                    <label for="donnaEvidenza" class="back">Donna</label>
                    <p>Novità</p>
                    <p>Best seller</p>
                    <p>Nike Style By</p>
                    <p>Sneakers Y2K</p>
                    <p>Teenager</p>
                    <p>Regali per lei</p>
                </div>
                <div>
                    <label for="donnaScarpe">Scarpe</label>
                    <label for="donnaScarpe" class="back">Donna</label>
                    <p>Tutte le scarpe</p>
                    <p>Lifestyle</p>
                    <p>Jordan</p>
                    <p>Running</p>
                    <p>Fitness e training</p>
                    <p>Calcio</p>
                    <p>Nike By You</p>
                </div>
                <div>
                    <label for="donnaAbbigliamento">Abbigliamento</label>
                    <label for="donnaAbbigliamento" class="back">Donna</label>
                    <p>Tutto l'abbigliamento</p>
                    <p>Felpe</p>
                    <p>Giacche</p>
                    <p>Pantaloni</p>
                    <p>Leggings</p>
                    <p>Set coordinati</p>
                    <p>Maglie e t-shirt</p>
                    <p>Shorts</p>
                    <p>Reggiseni sportivi</p>
                    <p>Gonne e abiti</p>
                </div>
                <div>
                    <label for="donnaSport">Scopri lo sport</label>
                    <label for="donnaSport" class="back">Donna</label>
                    <p>Fitness</p>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Basket</p>
                    <p>Tennis</p>
                    <p>Danza</p>
                    <p>Yoga</p>
                    <p>Golf</p>
                </div>
                <div>
                    <label for="donnaAccessori">Accessori</label>
                    <label for="donnaAccessori" class="back">Donna</label>
                    <p>Tutti gli accessori</p>
                    <p>Borse e zaini</p>
                    <p>Copricapi</p>
                    <p>Calze</p>
                </div>
            </div>
            <div>
                <label for="kids">Kids</label>
                <label for="kids" class="back">Tutto</label>

                <div>
                    <label for="kidsEvidenza">In evidenza</label>
                    <label for="kidsEvidenza" class="back">Kids</label>
                    <p>Novità</p>
                    <p>Best seller</p>
                    <p>Teenager ✨</p>
                    <p>EasyOn</p>
                    <p>Regali per bambini</p>
                </div>
                <div>
                    <label for="kidsScarpe">Scarpe</label>
                    <label for="kidsScarpe" class="back">Kids</label>
                    <p>Tutte le scarpe</p>
                    <p>Lifestyle</p>
                    <p>Jordan</p>
                    <p>Calcio</p>
                    <p>Running</p>
                    <p>Basket</p>
                </div>
                <div>
                    <label for="kidsAbbigliamento">Abbigliamento</label>
                    <label for="kidsAbbigliamento" class="back">Kids</label>
                    <p>Tutto l'abbigliamento</p>
                    <p>Felpe</p>
                    <p>Giacche</p>
                    <p>Pantaloni e leggings</p>
                    <p>Tute</p>
                    <p>Abbigliamento sportivo</p>
                    <p>Maglie e t-shirt</p>
                    <p>Shorts</p>
                    <p>Divise e maglie</p>
                    <p>Gonne e abiti</p>
                </div>
                <div>
                    <label for="kidsEta">Kids per eta'</label>
                    <label for="kidsEta" class="back">Kids</label>
                    <p>Ragazzo/a (7-15 anni)</p>
                    <p>Bambino/a (3-7 anni)</p>
                    <p>Bebè e bimbo/a (0-3 anni)</p>
                </div>
                <div>
                    <label for="kidsAccessori">Accessori</label>
                    <label for="kidsAccessori" class="back">Kids</label>
                    <p>Tutti gli accessori</p>
                    <p>Borse e zaini</p>
                    <p>Copricapi</p>
                    <p>Calze</p>
                </div>
            </div>
            <div>
                <label for="outlet">Outlet</label>
                <label for="outlet" class="back">Tutto</label>
                <div>
                    <label for="outletOfferte">Offerte</label>
                    <label for="outletOfferte" class="back">Outlet</label>
                    <p>Tutte le offerte</p>
                    <p>Best seller</p>
                    <p>Ultima occasione</p>


                </div>
                <div>
                    <label for="outletUomo">Outlet - Uomo</label>
                    <label for="outletUomo" class="back">Outlet</label>
                    <p>Tutti gli articoli outlet – Uomo</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>

                </div>
                <div>
                    <label for="outletDonna">Outlet - Donna</label>
                    <label for="outletDonna" class="back">Outlet</label>
                    <p>Tutti gli articoli outlet – Donna</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>

                </div>
                <div>
                    <label for="outletKids">Outlet - Kids</label>
                    <label for="outletKids" class="back">Outlet</label>
                    <p>Tutti gli articoli outlet – Kids</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>

                </div>
                <div>
                    <label for="outletSport">Outlet per lo sport</label>
                    <label for="outletSport" class="back">Outlet</label>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Fitness e training</p>
                    <p>Basket</p>
                    <p>Tennis</p>
                    <p>Golf</p>
                    <p>Yoga</p>
                </div>
            </div>


        </div>


        <a [href]="">
            <img [src]="'icons/mj.svg'" alt="">
            <p>Jordan</p>
        </a>
        <a [href]="">
            <img [src]="'/icons/converse.svg'" alt="">            
            <p>Converse</p>
        </a>
        <a [href]="">
            <img [src]="'/icons/domanda.svg'" alt="">            
            <p>Aiuto</p>
        </a>
        <a [href]="">
            <img [src]="'/icons/cart.svg'" alt="">            
            <p>Carrello</p>
        </a>
        <a [href]="">
            <img [src]="'/icons/pacco.svg'" alt="">            
            <p>Ordini</p>
        </a>
        <a [href]="">
            <img [src]="'/icons/negozio.svg'" alt="">            
            <p>Trova un negozio</p>
        </a>
    </div> 
</div>
<div class="overlay3" #overlay3 (click)="closeHamburger()"></div>


