@if (searching) {
    <app-search-bar (closeEvent)="searching = false"></app-search-bar>
}

<header>
    <div class="smallBar">
        <div class="iconsDiv">
            <img src="icons/mj.svg" alt=""> 
            <img src="icons/converse.svg" alt="">
        </div>

        <div class="optionsDiv">
            <div>
                <p>
                    Trova un negozio
                </p>
            </div> 
            <div>
                <p>
                    Aiuto
                </p>
            </div> 
            <div>
                <p>
                    Unisciti a noi
                </p>
            </div> 
            <div>
                @if (isLoggedIn) {
                    <p [routerLink]="['/dashboard', user._id]">Bevevenuto, {{user.name}}</p>
                } @else {
                    <p routerLink="/login">Accedi</p>
                }
            </div> 
        </div>
    </div>

    <div class="bigBar">
        <div routerLink="/home" class="conLogo"> <!--This is where the logo will go just the logo-->
            <img src="icons/nikelogo.svg" alt="">
        </div>

        <div class="conMenu"> <!--This is where the menu will be this disappears at some point -->
            <div class="menu menuNovita"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Novita' e in evidenza</p> 
                <div class="inner innerNovita">
                    <div>
                        <p>In evidenza</p>
                        <p>Tutti i nuovi arrivi</p>
                        <p>Best seller</p>
                        <p>Calendario dei lanci SNKRS</p>
                    </div>

                    <div>
                        <p>Scopri le icone</p>
                        <p>Air Force 1</p>
                        <p>Air Jordan 1</p>
                        <p>Air Max</p>
                        <p>Dunk</p>
                        <p>Blazer</p>
                        <p>Pegasus</p>
                        <p>Mercurial</p>
                    </div>

                    <div>
                        <p>Jordan</p>
                        <p>Tutti gli articoli Jordan</p>
                        <p>Nuovi lanci</p>
                        <p>Streetwear</p>
                        <p>Jordan Basketball</p>
                        <p>Jordan Golf</p>
                        <p>Jordan x PSG</p>
                    </div>

                    <div>
                        <p>Scopri lo sport</p>
                        <p>Calcio</p>
                        <p>Running</p>
                        <p>Basket</p>
                        <p>Fitness</p>
                        <p>Golf</p>
                        <p>Tennis</p>
                        <p>Yoga</p>
                        <p>Danza</p>
                        <p>Skateboard</p>
                    </div>

                </div>
            </div>

            <div class="menu menuUomo"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Uomo</p> 
                <div class="inner innerUomo">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Sneakers Y2K</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Fitness e training</p>
                        <p>Skateboard</p>
                        <p>Nike By You</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni e tights</p>
                        <p>Tute</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Divise e maglie</p>
                        </div>

                        <div>
                        <p>Scopri lo sport</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Fitness e training</p>
                        <p>Tennis</p>
                        <p>Golf</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuDonna"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Donna</p> 
                <div class="inner innerDonna">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Nike Style By</p>
                        <p>Sneakers Y2K</p>
                        <p>Teenager</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Running</p>
                        <p>Fitness e training</p>
                        <p>Calcio</p>
                        <p>Nike By You</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni</p>
                        <p>Leggings</p>
                        <p>Set coordinati</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Reggiseni sportivi</p>
                        </div>

                        <div>
                        <p>Scopri lo sport</p>
                        <p>Fitness</p>
                        <p>Running</p>
                        <p>Calcio</p>
                        <p>Basket</p>
                        <p>Tennis</p>
                        <p>Danza</p>
                        <p>Yoga</p>
                        <p>Golf</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuKids"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Kids</p> 
                <div class="inner innerKids">
                    <div>
                        <p>In evidenza</p>
                        <p>Novità</p>
                        <p>Best seller</p>
                        <p>Teenager+</p>
                        <p>EasyOn</p>
                        </div>

                        <div>
                        <p>Scarpe</p>
                        <p>Tutte le scarpe</p>
                        <p>Lifestyle</p>
                        <p>Jordan</p>
                        <p>Calcio</p>
                        <p>Running</p>
                        <p>Basket</p>
                        </div>

                        <div>
                        <p>Abbigliamento</p>
                        <p>Tutto l'abbigliamento</p>
                        <p>Felpe</p>
                        <p>Giacche</p>
                        <p>Pantaloni e leggings</p>
                        <p>Tute</p>
                        <p>Set coordinati</p>
                        <p>Maglie e t-shirt</p>
                        <p>Shorts</p>
                        <p>Divise e maglie</p>
                        </div>

                        <div>
                        <p>Kids per età</p>
                        <p>Ragazzo/a (7-15 anni)</p>
                        <p>Bambino/a (3-7 anni)</p>
                        <p>Bebè e bimbo/a (0-3 anni)</p>
                        </div>

                        <div>
                        <p>Accessori</p>
                        <p>Tutti gli accessori</p>
                        <p>Borse e zaini</p>
                        <p>Copricapi</p>
                        <p>Calze</p>
                        </div>

                </div>
            </div>

            <div class="menu menuOutlet"> <!--This is the first section in which Novita e in evidenza is contained, it has 4 sections so 4 divsThis div will be shown when hovering on novita' e in evidenza -->
                <p>Outlet</p> 
                <div class="inner innerOutlet">
                    <div>
                    <p>Offerte</p>
                    <p>Tutte le offerte</p>
                    <p>Best seller</p>
                    <p>Ultima occasione</p>
                    </div>

                    <div>
                    <p>Outlet - Uomo</p>
                    <p>Tutti gli articoli outlet - Uomo</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet - Donna</p>
                    <p>Tutti gli articoli outlet - Donna</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet - Kids</p>
                    <p>Tutti gli articoli outlet - Kids</p>
                    <p>Scarpe</p>
                    <p>Abbigliamento</p>
                    <p>Accessori</p>
                    </div>

                    <div>
                    <p>Outlet per sport</p>
                    <p>Running</p>
                    <p>Calcio</p>
                    <p>Fitness e training</p>
                    <p>Basket</p>
                    <p>Tennis</p>
                    <p>Golf</p>
                    <p>Yoga</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="conSearchIcons"> <!--Contains the search bar and the favorites and cart icons-->
            <div (click)="onClickSearch()" class="conSearchBar">
                <img src="icons/search.svg" alt="">
                <input type="text" placeholder="Cerca">
            </div> <!--contains the search bar-->
            <div class="conHeartCart">
                <img src="icons/heart.svg" alt="">
                <img src="icons/cart.svg" alt="">
            </div> <!--contains the heart and cart icons-->
        </div> 
    </div>
</header>
