header {
    width: 100vw;
    position: absolute;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    transition: transform 0.3s ease-in-out
}

.smallBar {
    height: 36px;
    width: 100%;
    background-color: var(--lightGray);
    display: flex;
    justify-content: space-between;
}

.bigBar {
    background-color: white;
    height: 60px;
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-areas: 
    "logo menu search";
}

.conLogo {
    grid-area: logo;
    cursor: pointer;
    img {
        padding-left: 48px;
    }
}

.iconsDiv {
    margin-left: 48px;
    display: flex;
    align-items: center;
        cursor: pointer;
    img:nth-of-type(1) {
        margin-right: 24px;
    }
}

.optionsDiv {
    margin-right: 48px;
    display: flex;
    cursor: pointer;

    div {
        p {
            font-size: 0.7em;
            padding: 0 5px;
            border-right: 1px solid black;
            &:hover {
                color: var(--grayText);
            }
        }
        &:last-child {
            p {
                border-right: none;
            }
        }
    }
}


.conMenu {
    grid-area: menu;
    display: flex;
    justify-self: center;
    &:hover + .overlay {
        visibility: visible;
        opacity: 1;
    }
}

.overlay {
    opacity: 0;
    top: 60px; 
    transition: 0.2s;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.465);
}


.menu {
    padding: 0 20px; 
    > p:nth-of-type(1){
        cursor: pointer;
        border-bottom: 3px solid white;
    &:hover {
        border-bottom: 3px solid black;
    }
    }
    &:hover .inner {
        visibility: visible;
    }
    &:hover > p {
        border-bottom: 3px solid black;
    }
}

.inner {
    visibility: hidden; 
    position: absolute;
    background-color: white;
    width: 100vw;
    left: 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    max-height: 40vh; 
    p {
        &:first-of-type {
            margin-top: 40px;
            font-size: 0.85em;
            color: black;
        }
        &:last-of-type {
            margin-bottom: 40px;
        }
        color: var(--grayText);
        font-size: 0.8em;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}


.conSearchIcons { 
    justify-self: flex-end;
    align-items: center;
    grid-area: search;
    display: flex;
    gap: 20px;
    margin-right: 48px;
    width: fit-content;
}

.conSearchBar { 
    cursor: pointer;
    height: 36px;
    width: 168px;
    border-radius: 100px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--lightGray);
    outline: none;
    &:hover {
        background-color: var(--grayPressed2);
    } 
    img {
        padding: 6px;
        border-radius: 50%;
        background-color: var(--lightGray);
        &:hover {
            background-color: var(--grayPressed);
        }
    }
    input {
        width: 80%;
        border: none;
        margin-right: 5px;
        background-color: transparent;
        outline: none;
    }
}


.conHeartCart { 
    display: flex;
    width: fit-content;
    div {
        display: flex;
        align-items: center;
    }
    img {
        cursor: pointer;
        height: 24px;
        padding: 6px;
        border-radius: 50%;
        &:hover {
        background-color: var(--grayPressed2);
        }
    }
}


.searchPart {
    position: fixed;
    z-index: 10;
    p { 
        cursor: pointer;
        grid-area: annulla;
        padding: 10px;
    }
}

.cart {
    position: relative;
}

.quantity {
    position: absolute;
    font-size: 0.65em;
    top: 12px;
    left: 15px;
    margin: 0;
    pointer-events: none;
}

.sliderResults {
    grid-area: sliderResults;
}

.conSearch2 {
    width: 100vw;
    background-color: white;
    padding-bottom: 40px;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "nikeLogo searchBar annulla"
    "sliderResults sliderResults sliderResults";
    justify-content: center;
    position: relative;
    align-items: center;
}

.conSearchBar2 { 
    grid-area: searchBar;
    margin-top: 10px; 
    cursor: pointer;
    height: 36px;
    width: 70vw;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--lightGray);
    outline: none;
    &:hover {
        background-color: var(--grayPressed2);
    } 
    img {
        padding: 6px;
        border-radius: 100px;
        background-color: var(--lightGray);
        &:hover {
            background-color: var(--grayPressed);
        }
    }
    input {
        width: 100%;
        border: none;
        margin-right: 5px;
        background-color: transparent;
        outline: none;
    }
}

.overlay2 {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.465);
}

.results {
    grid-area: results;
    display: flex;
    gap: 5px;
    p {
        margin: 0;
        padding: 0;
    }
    div {
        width: 15vw;
    }
}

.conShoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    img {
    width: 15vw; 
    }
}


.hamburger {
    display: none
}

#barraHamburger {
    z-index: 3;
    visibility: hidden; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .x {
        align-self: flex-end;
    }

    .wrap {
        padding: 20px;
    }

    a {
        border: 1px solid white;
        width: fit-content;
        height: fit-content;
        display: block;
        display: flex;
    }
    input {
        display: none;
    }
}

.overlay3 {
    top: 0; 
    left: 0;
    transition: 0.2s;
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.465);
    display: none;
}


.back {
    display: none;
}

.menuHamburger {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    label {
        user-select: none;
        cursor: pointer;
        font-size: 1.4em;
        img {
            display: none; 
            line-height: 33px;
        }
        &:hover {
            color: var(--grayText);
            mix-blend-mode: multiply;
            img {
                filter: brightness(0) invert(0.5);
            }
        }
    }
    z-index: 3;
    div {
        div {
            p {
                display: none;
                color: var(--grayText);
                margin: 10px;
            }
            label {
                display: none;
            }
        }
    }

}

.userIcon {
    cursor: pointer;
    display: flex;
    gap: 5px;
    display: none !important;
}

@media (max-width: 1199px) {
    .conSearchIcons {
        gap: 0;
    }
    .conSearchBar {
        width: fit-content;
        img {
            background-color: white;
        }
        input {
            display: none;
        }
    }
}

@media (max-width: 959px) {
    .userIcon {
        display: flex !important;
    }

    .conSearch2 {
        grid-template-rows: 1fr 8fr;
        height: 100vh; 
        > img {
            display: none;
        }
        p {
            align-self: flex-start;
            margin-top: 7px;
        }
    } 

    .conSearchBar2 {
        align-self: flex-start;
        width: 75vw;
    }

    .sliderResults {
        grid-area: sliderResults;
        overflow: scroll;
        height: 100%;
        width: 100%;
    }

    .results {
        justify-content: center;
        height: fit-content;
        flex-wrap: wrap;
        .conShoes {
            width: 45%;
            img {
                width: 100%;
            }
        }
    }

    .hamburger {
        display: block;
    }
    .conMenu {
        display: none;
    }
    #barraHamburger {
        display: flex;
    }

    .smallBar {
        display: none;
    }

    .conLogo {
    img {
        padding-left: 24px;
    }
    }

    .conSearchIcons {
        margin-right: 24px;
    }
}

.back {
    margin-left: 24px;
}

.menuHamburger div .back::before{
    content: "";;
    background: url("/icons/left.svg") no-repeat center/cover;
    position: absolute; 
    margin-top: 4.5px; 
    margin-left: -24px;
    height: 24px;
    width: 24px;
}

.menuHamburger div label:not(.back):after{
    content: "";;
    background: url("/icons/right.svg") no-repeat center/cover;
    position: absolute; 
    margin-top: 4.5px; 
    height: 24px;
    width: 24px;

}

#novita:checked ~ div:nth-of-type(1) div label {
    display: block;
}

#novita:checked ~ div label {
    display: none;
}

#novita:checked ~ div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#novita:checked ~ div:nth-of-type(1) div label:nth-of-type(2) {
    display: none;
}

#novitaEvidenza:checked ~ div:nth-of-type(1) div:nth-of-type(1) > p{
    display: block;
}

#novitaEvidenza:checked ~ div:nth-of-type(1) div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#novitaEvidenza:checked ~ div:nth-of-type(1) div label{
    display: none;
}

#novitaEvidenza:checked ~ div:nth-of-type(1) label:nth-of-type(2) {
    display: none;
}

//2
#novitaIcone:checked ~ div:nth-of-type(1) div:nth-of-type(2) > p{
    display: block;
}

#novitaIcone:checked ~ div:nth-of-type(1) div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#novitaIcone:checked ~ div:nth-of-type(1) div label{
    display: none;
}

#novitaIcone:checked ~ div:nth-of-type(1) label:nth-of-type(2) {
    display: none;
}
//done2

//3

#novitaSport:checked ~ div:nth-of-type(1) div:nth-of-type(3) > p{
    display: block;
}

#novitaSport:checked ~ div:nth-of-type(1) div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#novitaSport:checked ~ div:nth-of-type(1) div label{
    display: none;
}

#novitaSport:checked ~ div:nth-of-type(1) label:nth-of-type(2) {
    display: none;
}
//done3

//4

#novitaTendenza:checked ~ div:nth-of-type(1) div:nth-of-type(4) > p{
    display: block;
}

#novitaTendenza:checked ~ div:nth-of-type(1) div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#novitaTendenza:checked ~ div:nth-of-type(1) div label{
    display: none;
}

#novitaTendenza:checked ~ div:nth-of-type(1) label:nth-of-type(2) {
    display: none;
}
//done 4

// UOMO
#uomo:checked ~ div:nth-of-type(2) div label {
    display: block;
}

#uomo:checked ~ div label {
    display: none;
}

#uomo:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#uomo:checked ~ div:nth-of-type(2) div label:nth-of-type(2) {
    display: none;
}

#uomoEvidenza:checked ~ div:nth-of-type(2) div:nth-of-type(1) > p{
    display: block;
}

#uomoEvidenza:checked ~ div:nth-of-type(2) div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#uomoEvidenza:checked ~ div:nth-of-type(2) div label{
    display: none;
}

#uomoEvidenza:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: none;
}

//2
#uomoScarpe:checked ~ div:nth-of-type(2) div:nth-of-type(2) > p{
    display: block;
}

#uomoScarpe:checked ~ div:nth-of-type(2) div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#uomoScarpe:checked ~ div:nth-of-type(2) div label{
    display: none;
}

#uomoScarpe:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: none;
}
//done2

//3

#uomoAbbigliamento:checked ~ div:nth-of-type(2) div:nth-of-type(3) > p{
    display: block;
}

#uomoAbbigliamento:checked ~ div:nth-of-type(2) div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#uomoAbbigliamento:checked ~ div:nth-of-type(2) div label{
    display: none;
}

#uomoAbbigliamento:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: none;
}
//done3

//4

#uomoSport:checked ~ div:nth-of-type(2) div:nth-of-type(4) > p{
    display: block;
}

#uomoSport:checked ~ div:nth-of-type(2) div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#uomoSport:checked ~ div:nth-of-type(2) div label{
    display: none;
}

#uomoSport:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: none;
}
//done 4

//5

#uomoAccessori:checked ~ div:nth-of-type(2) div:nth-of-type(5) > p{
    display: block;
}

#uomoAccessori:checked ~ div:nth-of-type(2) div:nth-of-type(5) label:nth-of-type(2) {
    display: block;
}

#uomoAccessori:checked ~ div:nth-of-type(2) div label{
    display: none;
}

#uomoAccessori:checked ~ div:nth-of-type(2) label:nth-of-type(2) {
    display: none;
}
//done 5

//Done Uomo

//Donna 
#donna:checked ~ div:nth-of-type(3) div label {
    display: block;
}

#donna:checked ~ div label {
    display: none;
}

#donna:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#donna:checked ~ div:nth-of-type(3) div label:nth-of-type(2) {
    display: none;
}

#donnaEvidenza:checked ~ div:nth-of-type(3) div:nth-of-type(1) > p{
    display: block;
}

#donnaEvidenza:checked ~ div:nth-of-type(3) div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#donnaEvidenza:checked ~ div:nth-of-type(3) div label{
    display: none;
}

#donnaEvidenza:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: none;
}

//2
#donnaScarpe:checked ~ div:nth-of-type(3) div:nth-of-type(2) > p{
    display: block;
}

#donnaScarpe:checked ~ div:nth-of-type(3) div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#donnaScarpe:checked ~ div:nth-of-type(3) div label{
    display: none;
}

#donnaScarpe:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: none;
}
//done2

//3

#donnaAbbigliamento:checked ~ div:nth-of-type(3) div:nth-of-type(3) > p{
    display: block;
}

#donnaAbbigliamento:checked ~ div:nth-of-type(3) div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#donnaAbbigliamento:checked ~ div:nth-of-type(3) div label{
    display: none;
}

#donnaAbbigliamento:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: none;
}
//done3

//4

#donnaSport:checked ~ div:nth-of-type(3) div:nth-of-type(4) > p{
    display: block;
}

#donnaSport:checked ~ div:nth-of-type(3) div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#donnaSport:checked ~ div:nth-of-type(3) div label{
    display: none;
}

#donnaSport:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: none;
}
//done 4

//5

#donnaAccessori:checked ~ div:nth-of-type(3) div:nth-of-type(5) > p{
    display: block;
}

#donnaAccessori:checked ~ div:nth-of-type(3) div:nth-of-type(5) label:nth-of-type(2) {
    display: block;
}

#donnaAccessori:checked ~ div:nth-of-type(3) div label{
    display: none;
}

#donnaAccessori:checked ~ div:nth-of-type(3) label:nth-of-type(2) {
    display: none;
}
//Done Donna


//Kids
#kids:checked ~ div:nth-of-type(4) div label {
    display: block;
}

#kids:checked ~ div label {
    display: none;
}

#kids:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#kids:checked ~ div:nth-of-type(4) div label:nth-of-type(2) {
    display: none;
}

#kidsEvidenza:checked ~ div:nth-of-type(4) div:nth-of-type(1) > p{
    display: block;
}

#kidsEvidenza:checked ~ div:nth-of-type(4) div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#kidsEvidenza:checked ~ div:nth-of-type(4) div label{
    display: none;
}

#kidsEvidenza:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: none;
}

//2
#kidsScarpe:checked ~ div:nth-of-type(4) div:nth-of-type(2) > p{
    display: block;
}

#kidsScarpe:checked ~ div:nth-of-type(4) div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#kidsScarpe:checked ~ div:nth-of-type(4) div label{
    display: none;
}

#kidsScarpe:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: none;
}
//done2

//3

#kidsAbbigliamento:checked ~ div:nth-of-type(4) div:nth-of-type(3) > p{
    display: block;
}

#kidsAbbigliamento:checked ~ div:nth-of-type(4) div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#kidsAbbigliamento:checked ~ div:nth-of-type(4) div label{
    display: none;
}

#kidsAbbigliamento:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: none;
}
//done3

//4

#kidsEta:checked ~ div:nth-of-type(4) div:nth-of-type(4) > p{
    display: block;
}

#kidsEta:checked ~ div:nth-of-type(4) div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#kidsEta:checked ~ div:nth-of-type(4) div label{
    display: none;
}

#kidsEta:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: none;
}
//done 4

//5

#kidsAccessori:checked ~ div:nth-of-type(4) div:nth-of-type(5) > p{
    display: block;
}

#kidsAccessori:checked ~ div:nth-of-type(4) div:nth-of-type(5) label:nth-of-type(2) {
    display: block;
}

#kidsAccessori:checked ~ div:nth-of-type(4) div label{
    display: none;
}

#kidsAccessori:checked ~ div:nth-of-type(4) label:nth-of-type(2) {
    display: none;
}

//Kids Done

//Outlet
#outlet:checked ~ div:nth-of-type(5) div label {
    display: block;
}

#outlet:checked ~ div label {
    display: none;
}

#outlet:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: block;
}

#outlet:checked ~ div:nth-of-type(5) div label:nth-of-type(2) {
    display: none;
}

#outletOfferte:checked ~ div:nth-of-type(5) div:nth-of-type(1) > p{
    display: block;
}

#outletOfferte:checked ~ div:nth-of-type(5) div:nth-of-type(1) label:nth-of-type(2) {
    display: block;
}

#outletOfferte:checked ~ div:nth-of-type(5) div label{
    display: none;
}

#outletOfferte:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: none;
}

//2
#outletUomo:checked ~ div:nth-of-type(5) div:nth-of-type(2) > p{
    display: block;
}

#outletUomo:checked ~ div:nth-of-type(5) div:nth-of-type(2) label:nth-of-type(2) {
    display: block;
}

#outletUomo:checked ~ div:nth-of-type(5) div label{
    display: none;
}

#outletUomo:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: none;
}
//done2

//3

#outletDonna:checked ~ div:nth-of-type(5) div:nth-of-type(3) > p{
    display: block;
}

#outletDonna:checked ~ div:nth-of-type(5) div:nth-of-type(3) label:nth-of-type(2) {
    display: block;
}

#outletDonna:checked ~ div:nth-of-type(5) div label{
    display: none;
}

#outletDonna:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: none;
}
//done3

//4

#outletKids:checked ~ div:nth-of-type(5) div:nth-of-type(4) > p{
    display: block;
}

#outletKids:checked ~ div:nth-of-type(5) div:nth-of-type(4) label:nth-of-type(2) {
    display: block;
}

#outletKids:checked ~ div:nth-of-type(5) div label{
    display: none;
}

#outletKids:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: none;
}
//done 4

//5

#outletSport:checked ~ div:nth-of-type(5) div:nth-of-type(5) > p{
    display: block;
}

#outletSport:checked ~ div:nth-of-type(5) div:nth-of-type(5) label:nth-of-type(2) {
    display: block;
}

#outletSport:checked ~ div:nth-of-type(5) div label{
    display: none;
}

#outletSport:checked ~ div:nth-of-type(5) label:nth-of-type(2) {
    display: none;
}



