header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

app-search-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


.smallBar {
    height: 36px;
    width: 100%;
    background-color: var(--lightGray);
    display: flex;
    justify-content: space-between;
}

.bigBar {
    background-color: white;
    height: 60px;
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "logo menu search";
}

.conLogo {
    grid-area: logo;
    img {
        padding-left: 48px;
    }
}

.iconsDiv {
    margin-left: 48px;
    display: flex;
    align-items: center;
    img:nth-of-type(1) {
        margin-right: 24px;
    }
}

.optionsDiv {
    margin-right: 48px;
    font-family: "fontNikeMedium";
    display: flex;

    div {
        p {
            font-size: 0.7em;
            padding: 0 5px;
            border-right: 1px solid black;
            &:hover {
                cursor: pointer;
                color: var(--grayText);
            }
        }
        &:last-child {
            p {
                border-right: none;
            }
        }
    }
}



.conMenu {
    grid-area: menu;
    display: flex;
    justify-self: center;
}

.menu {
    padding: 0 20px; 
    > p:nth-of-type(1){
        cursor: pointer;
        border-bottom: 3px solid white;
    &:hover {
        border-bottom: 3px solid black;
    }
    }
    &:hover .inner {
        visibility: visible;
    }
    &:hover > p {
        border-bottom: 3px solid black;
    }
    &:hover .overlay {
        visibility: visible;
    }
}

.inner {
    visibility: hidden; 
    position: absolute;
    background-color: white;
    width: 100vw;
    left: 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    max-height: 40vh; 
    p {
        &:first-of-type {
            margin-top: 40px;
            font-size: 0.85em;
            color: black;
        }
        &:last-of-type {
            margin-bottom: 40px;
        }
        color: var(--grayText);
        font-size: 0.8em;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}


.conSearchIcons { //contains the whole thing
    justify-self: flex-end;
    grid-area: search;
    display: flex;
    gap: 20px;
    margin-right: 48px;
    width: fit-content;
}

.conSearchBar { //contains searchbar with the input and stuff
    cursor: pointer;
    height: 36px;
    width: 168px;
    border-radius: 100px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--lightGray);
    outline: none;
    &:hover {
        background-color: var(--grayPressed2);
    } 
    img {
        padding: 6px;
        border-radius: 100px;
        background-color: var(--lightGray);
        &:hover {
            background-color: var(--grayPressed);
        }
    }
    input {
        width: 80%;
        border: none;
        margin-right: 5px;
        background-color: transparent;
        outline: none;
    }
}


.conHeartCart { //contains heart and cart icons
    display: flex;
    width: fit-content;
    img {
        padding: 6px;
        border-radius: 50%;
        &:hover {
        background-color: var(--grayPressed2);
        }
    }
}

