footer {
    max-width: 1824px;
    margin: 0 auto;
    width: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
}

hr {
    border: none;
    background-color: var(--grayPressed);
    height: 1px;
}

.footerFirst {
    max-height: 200px;
    display: flex;
    overflow: hidden;
    width: fit-content; 
    margin: 0 auto;
    gap: 40px;
    margin-top: 40px;
    transition: 0.5s;
    border: 1px solide black;
    &:hover {
        max-height: 500px;
    }
    div {
        p {
            color: var(--grayText);
        } 
        p:nth-of-type(1) {
            color: black;
            font-size: 1.2em;
        }
    }
}

.footerSecond {
    display: flex;    
    width: 100%;
    justify-content:space-between; 
    div {
        p {
            color: var(--grayText);
        } 
        p:nth-of-type(1) {
            color: black;
        }
    }
}

.logoItalia {
    justify-self: flex-end; 
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: var(--grayText);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 0.5px;
    background-color: var(--grayPressed2);
}

.footerThird {
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 25px;
    display: flex;
    color: var(--grayText);
}


.footerFirstM, .footerSecondM {
    margin-top: 70px;
    label {
        font-size: 1.4em;
    }
    p {
        margin-left: 30px;
        color: var(--grayText);
        font-size: 1em;
        &:hover {
            color: black;
        }
    }
    margin-left: 40px;
    margin-right: 40px;
    display: none;
    flex-direction: column;
    div {
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
    }
    input {
        display: none;
    }
}

.footerSecondM {
    p {
        margin-left: 0;
    }
    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.footerThird {
    flex-wrap: wrap;
}

#inputScarpe:checked ~ .listScarpe {
    max-height: 1000px;
}
#inputAbbigliamento:checked ~ .listAbbigliamento {
    max-height: 1000px;
}
#inputBambini:checked ~ .listBambini {
    max-height: 1000px;
}
#inputEvidenza:checked ~ .listEvidenza {
    max-height: 1000px;
}

#inputRisorse:checked ~ .listRisorse {
    max-height: 1000px;
}

#inputAssistenza:checked ~ .listAssistenza {
    max-height: 1000px;
}

#inputAzienda:checked ~ .listAzienda {
    max-height: 1000px;
}

@media (max-width: 959px) {
    .footerFirst, .footerSecond {
        display: none;
    }
    .footerFirstM, .footerSecondM, .footerThirdM {
        display: flex;
        label {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }
    hr {
        display: none;
    }

    .footerThird {
        flex-direction: column;
        padding: 40px;
        p {
            margin: 0;
        }
    }

    .divHr {
        border: 1px solid var(--grayPressed2);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

