footer {
    width: 1824px;
    margin: 0 auto;
}

hr {
    border: none;
    background-color: var(--grayPressed);
    height: 1px;
}

.footerFirst {
    max-height: 200px;
    display: flex;
    overflow: hidden;
    width: fit-content; 
    margin: 0 auto;
    gap: 40px;
    margin-top: 40px;
    transition: 0.5s;
    border: 1px solide black;
    &:hover {
        max-height: 500px;
    }
    div {
        p {
            color: var(--grayText);
        } 
        p:nth-of-type(1) {
            color: black;
            font-size: 1.4em;
        }
    }
}

.footerSecond {
    display: flex;    
    justify-content: space-around; 
    div {
        p {
            color: var(--grayText);
        } 
        p:nth-of-type(1) {
            color: black;
        }
    }
}

.logoItalia {
    justify-self: flex-end; 
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: var(--grayText);
    img {
        fill: var(--grayText);
    }
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}