<footer>
    <div class="footerFirst"> 
        <div class="scarpe">
            <p>Scarpe</p>
            <p>Scarpe da running nere</p>
            <p>Scarpe da running bianche</p>
            <p>Scarpe Nike P-6000</p>
            <p>Nike Initiator</p>
            <p>Scarpe V2K Run</p>
            <p>Nike Shox</p>
            <p>Scarpe Nike Waffle</p>
            <p>Nike Cortez</p>
            <p>Nike Vomero</p>
            <p>Scarpe sportive nere</p>
            <p>Scarpe Nike Motiva</p>
        </div>
        <div class="abbigliamento">
            <p>Abbigliamento</p>
            <p>Pantaloni da yoga</p>
            <p>Pantaloni jogger Tech Fleece</p>
            <p>Fleece</p>
            <p>Tech Fleece</p>
        </div>
        <div class="bambini">
            <p>Bambini</p>
            <p>Scarpe nere per bambina</p>
            <p>Kids' Black Shoes</p>
        </div>
        <div class="evidenza">
            <p>In evidenza</p>
            <p>Squadre di calcio</p>
            <p>Calcio</p>
            <p>Nike Inghilterra</p>
            <p>Nike Run Club</p>
            <p>Nike Training Club</p>
            <p>Idee regalo</p>
        </div>
    </div>

    <div class="footerSecond">
        <div class="risorse">
            <p>Risorse </p>
            <p>Gift card</p>
            <p>Gift card aziendali</p>
            <p>Trova un negozio</p>
            <p>Nike Journal</p>
            <p>Diventa member</p>
            <p>Sconto studenti</p>
            <p>Feedback</p>
            <p>Codici promozionali</p>
        </div>
        <div class="assistenza">
            <p>Assistenza</p>
            <p>Hai bisogno di aiuto?</p>
            <p>Stato ordine</p>
            <p>Spedizione e consegna</p>
            <p>Resi</p>
            <p>Opzioni di pagamento</p>
            <p>Contattaci</p>
            <p>Recensioni</p>
            <p>Assistenza Codici promozionali Nike</p>
        </div>
        <div class="azienda">
            <p>Informazioni su Nike</p>
            <p>News</p>
            <p>Lavora con noi</p>
            <p>Investitori</p>
            <p>Sostenibilità</p>
            <p>Obiettivo</p>
            <p>Segnala un problema</p>
        </div>
        <div class="logoItalia">
            <img src="icons/world.svg" alt="">
            <p>Italia</p>
        </div>
    </div>
</footer>