.spacer {
    height: 96px;
}

app-modal {
    position: fixed;
    z-index: 1;
}

.container {
    width: fit-content; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "fontNikeMedium2";
}

.left {
    width: 612px;
    display: flex;
    gap: 20px;
}

.conScroll {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: scroll;
    scrollbar-width: none;
    height: 690px;
}

.image {
    height: 60px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    z-index: 0;
    &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 60px;
        width: 60px;
        background-color: rgba(0, 0, 0, 0.257);
        border-radius: 3px;
        opacity: 0;
        z-index: 0;

    }
    &:hover::after {
        opacity: 1;
    }
}

.image img {
    width: 60px;
    background-color: var(--lightGray);
}

.mainImage { 
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 690px;

    video {
        width: 552px;
    }
    > img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        width: 552px;
    }
}


.left .buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    button {
        background-color: white;
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius: 30px;
        padding: 0;
        border: none;
        &:active {
            background-color: var(--grayPressed2);
        }
    }
    img {
        width: 24px;
        height: 24px;
        padding: 6px;
    }
}

.right {
    display: flex;
    flex-direction: column;
    width: 376px;
    gap: 20px;
}

.shoeName {
    font-size: 1.2em;
    margin: 0;
}

.textSizes {
    display: flex;
    div:nth-of-type(2) {
        display: flex;
        img {
            width: 18px;
        }
        p {
            font-size: 0.90em;
        }
    }
}

.right button {
    height: 2em;
    border-radius: 10px;
    height: 60px;
    width: 376px;
    border-radius: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.buyButton {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

.favoriteButton {
    font-size: 1.1em;
    background-color: white;
    border: 1px solid var(--grayPressed2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    label {
        cursor: pointer;
    }
}

.sizes {
    justify-content: center;
    margin: 0;
    width: 95%;
    border: 1px solid transparent;
}



.sizeLabel {
    display: block;
    width: 86px;
    height: 46px;
    line-height: 46px;
    text-align: center; 
    border-radius: 4px;
    border: 1px solid var(--grayPressed2);
    &:hover {
        box-shadow: inset 0 0 0 1px black;
    }
}

.colorLabel {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.291);
}

.Blu {
    background-color: blue;
}

.Nero {
    background-color: black;
}

.Rosso {
    background-color: red;
}

.Verde {
    background-color: green;
}

.Arancione {
    background-color: orange;
}
 
.Bianco {
    background-color: rgb(214, 214, 214);
}

.Grigio {
    background-color: gray;
}

.Bianco\/Nero {
    background: linear-gradient(to right, white 50%, black 50%);
}

.Blu\/Rosso {
    background: linear-gradient(to right, blue 50%, red 50%);
}

.Rosso\/Bianco {
    background: linear-gradient(to right, red 50%, white 50%);
}

.Nero\/Grigio {
    background: linear-gradient(to right, black 50%, gray 50%);
}

.Nero\/Giallo {
    background: linear-gradient(to right, black 50%, yellow 50%);
}

.Rosso\/Nero {
    background: linear-gradient(to right, red 50%, black 50%);
}

.Nero\/Rosso {
    background: linear-gradient(to right, black 50%, red 50%);
}

.Grigio\/Arancione {
    background: linear-gradient(to right, gray 50%, orange 50%);
}

.Blu\/Verde {
    background: linear-gradient(to right, blue 50%, green 50%);
}

.Grigio\/Blu {
    background: linear-gradient(to right, gray 50%, blue 50%);
}
.Bianco\/Rosso {
    background: linear-gradient(to right, white 50%, red 50%);
}

.colors {
    gap: 5px;
}


input {
    display: none;
}

.colorLabel {
    position: relative;
}

.colorLabel::after {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="white" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.393 7.5l-5.643 5.784-2.644-2.506-1.856 1.858 4.5 4.364 7.5-7.643-1.857-1.857z"/></svg>');
    opacity: 0;
    position: absolute;
    z-index: 0;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); 
}


input[type="radio"]:checked + .sizeLabel {
    box-shadow: inset 0 0 0 1px black;
}

input[type="radio"]:checked + label::after {
    opacity: 1;
    transition: 0.2s;
}

@media (max-width:959px) {

    .mainImage {
        width: 100vw;
        height: calc(125vw);
    }

    .mainImage img {
        width: 100%;
        height: 100%;
    }

    .mainImage video {
        width: 100%;
        height: 100%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .left {
        width: fit-content;
        height: fit-content;
        .conScroll {
            display: none;
        }
    }
    .right {
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sizes {
        width: 70%;
    }

    .right .buttons {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        button {
            width: 100%;
        }
    }
    .textSizes {
        flex-direction: column;
        align-items: center;
    }
    .description p {
        padding: 30px;
    }

    .spacer {
        height: 60px;
    }


}

@media (max-width: 559px) {

    app-modal {
        z-index: 3;
    }
}


