<app-header></app-header>

<div class="spacer"></div>

<div class="container">
  <div class="left">
    <img [src]="shoe.immagini[0]" alt="">
  </div>

  <div class="right">
    <h1>{{shoe.nome}}</h1>
    <p>{{shoe.prezzo}}</p>

  <div class="options">
    @for (color of colors; track color) {
      <input [(ngModel)]="chosenColor" id="{{color}}" type="radio" name="shoeColor" value="{{color}}">
      <label for="{{color}}" class="colorLabel {{color}}"></label>
    }
  </div>

  <div class="options sizes">
    @for (size of sizes; track size) {
      <input [(ngModel)]="chosenSize" id="{{size}}" type="radio" name="shoeSize" value="{{size}}"> 
      <label for="{{size}}" class="sizeLabel">{{size}}</label>
    }
  </div>


  <div class="buttons">
    <button class="buyButton" (click)="addToCart()" [disabled]="!chosenColor || !chosenSize">
      Aggiungi al Carrello
    </button>
    <button class="cartButton" [routerLink]="isLoggedIn ? ['/cart', userId] : ['/cart']">Vai al carrello</button>
  </div>

  </div>

</div>

<app-footer></app-footer>