.container {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.349);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 150px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        border-radius: 10px;
        padding: 16px;
        border: none;
        background-color: rgb(244, 244, 244);
    }
    button {
        border-radius: 10px;
        margin: 10px;
    }
}

.error-border {
    input {
        box-shadow:  0 0 0 1px red !important;
    }
    small {
        color: red;
    }
}

.group {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 10px;
}

button {
    border: none;    
    padding: 10px;
    cursor: pointer;
}