<app-header></app-header>
<div class="spacer"></div>
<section>
    <div class="left"> 
        <h2>Carrello</h2> 
        <div *ngIf="cart.shoes.length === 0">
        <p>Nel tuo carrello non sono presenti articoli.</p>
        </div>
        <div class="divShoes" *ngFor="let shoe of cart.shoes">
            <div class="image">
                <img src="{{shoe.imageIcon}}" alt="">
            </div>
            <div class="text">
                <p>{{ shoe.shoeName }}</p> 
                <p>Quantita': {{ shoe.quantity}}</p>
                <p>Taglia: {{ shoe.size }}</p>
                <p>Colore: {{ shoe.color }}</p>
            </div>
            <div class="priceText">
                <p>Prezzo: {{ shoe.price | currency: "EUR" }}</p>
            </div>
            <div class="buttons">
                <button *ngIf="shoe.quantity > 1" (click)="updateQuantity(shoe, 'decrease')">
                    <img src="icons/minus.svg" alt="">
                </button>
                <button *ngIf="shoe.quantity === 1" (click)="updateQuantity(shoe, 'remove')"><img src="icons/trash.svg" alt=""></button>
                <p>{{shoe.quantity}}</p>
                <button (click)="updateQuantity(shoe, 'increase')">
                    <img src="icons/plus.svg" alt="">
                </button>
                <button (click)="addToFavorites()">
                    <img src="icons/heart.svg" alt="">
                </button>
            </div>
        <div class="extraText">
            <p>Ritiro gratuito in negozio</p>
            <p>Trova un negozio</p>
        </div>
        </div>
    </div>

    <div class="right">
        <h2>Riepilogo</h2>
        <div class="promoCode">
            <input type="checkbox" id="promoInput">
            <label for="promoInput">
                Hai un codice promozionale?
                <img src="icons/down.svg" alt="">
            </label>
            <div id="textInputPromo">
                <input [(ngModel)]="couponCode" type="text" id="couponCode">
                <button (click)="applyCoupon()">Applica</button>
            </div>
        </div>
        <div class="subTotal">
            <p>Subtotale</p>
            <p>{{totalPrice | euro}}</p>
        </div>
        <div class="deliveryCost">
            <p>Costi di spedizione e gestione previsti</p>
            <p>Gratis</p>
        </div>

        <div class="price">
            <p>Totale</p>
            <p>Prezzo finale: {{priceAfterDiscount | euro}}</p>
        </div>
        <div class="bigButtons">
            <button [routerLink]="'/payment'" [disabled]="totalPrice === 0">Vai al pagamento</button>
            <button>
                <img src="icons/PayPal.svg" alt="">
            </button>
        </div>
    </div>


</section>
<app-footer></app-footer>