<app-header></app-header>
<div class="spacer"></div>
<section>
    <div class="left"> 
        <div *ngIf="cart.shoes.length === 0">
        <p>Carrello vuoto</p>
        </div>
        <div class="divShoes" *ngFor="let shoe of cart.shoes">
            <p>{{ shoe.shoeName }}</p> 
            <p>Quantita': {{ shoe.quantity}}</p>
            <p>Colore: {{ shoe.color }}</p>
            <p>Prezzo: {{ shoe.price | currency: "EUR" }}</p>
            <div class="buttons">
                <button *ngIf="shoe.quantity > 1" (click)="updateQuantity(shoe, 'decrease')">
                    <img src="icons/minus.svg" alt="">
                </button>
                <button *ngIf="shoe.quantity === 1" (click)="updateQuantity(shoe, 'remove')"><img src="icons/trash.svg" alt=""></button>
                <p>{{shoe.quantity}}</p>
                <button (click)="updateQuantity(shoe, 'increase')">
                    <img src="icons/plus.svg" alt="">
                </button>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="price">
            <div>Prezzo finale: {{totalPrice | currency: "EUR"}}</div>
            <button [routerLink]="'/payment'" [disabled]="totalPrice === 0">Vai al pagamento</button>
        </div>
    </div>


</section>
<app-footer></app-footer>