<form [formGroup]="filterForm">
  <div class="prices" formArrayName="price">
    <input type="checkbox" id="priceSec">
    <label for="priceSec">Acquista per prezzo
      <img src="icons/down.svg" alt="">
    </label> 
    <div class="conPrice">
      <div *ngFor="let price of priceOptions; let i = index">
        <input [id]="'price_' + i" type="checkbox" [formControlName]="i" />
        <label [for]="'price_' + i">{{ price.label }}</label>
      </div>
    </div>
  </div>

  <div class="colors" formArrayName="color">
    <input type="checkbox" id="colorSec">
    <label for="colorSec">Colore
      <img src="icons/down.svg" alt="">
    </label>
    <div class="conColor">
      <div *ngFor="let color of colorOptions; let i = index">
        <input [id]="'color_' + i" type="checkbox" [formControlName]="i" />
        <label class="colorLabel {{color}}" [for]="'color_' + i"></label>
      </div>
    </div>
  </div>

  <div class="categories" formArrayName="category">
    <input type="checkbox" id="categorySec">
    <label for="categorySec">Categoria
      <img src="icons/down.svg" alt="">
    </label>
    <div class="conCategory">
      <div *ngFor="let category of categoryOptions; let i = index">
        <input [id]="'category_' + i" type="checkbox" [formControlName]="i" />
        <label [for]="'category_' + i">{{ category }}</label>
      </div>
    </div>
  </div>

</form>
