<form [formGroup]="filterForm">
  <div formArrayName="price">
    <p>Prezzo</p>
    <div *ngFor="let price of priceOptions; let i = index">
      <label [for]="'price_' + i">{{ price.label }}</label>
      <input [id]="'price_' + i" type="checkbox" [formControlName]="i" />
    </div>
  </div>

  <div formArrayName="color">
    <p>Colore</p>
    <div *ngFor="let color of colorOptions; let i = index">
      <label [for]="'color_' + i">{{ color }}</label>
      <input [id]="'color_' + i" type="checkbox" [formControlName]="i" />
    </div>
  </div>

  <div formArrayName="category">
    <p>Categoria</p>
    <div *ngFor="let category of categoryOptions; let i = index">
      <label [for]="'category_' + i">{{ category }}</label>
      <input [id]="'category_' + i" type="checkbox" [formControlName]="i" />
    </div>
  </div>

  <button type="submit" [disabled]="filterForm.invalid">Submit</button>
</form>
