form {
    margin-left: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    > div > label {
        display: flex;
        align-items: center;

    }
}


label {
    user-select: none;
    cursor: pointer;
}

#priceSec, #colorSec, #categorySec {
    display: none;
}

.prices, .colors, .categories {
    margin-bottom: 30px;
}

#priceSec:checked ~ .conPrice {
    max-height: 300px;
    transition: 0.2s;
}

#priceSec:checked + label img {
    transform: rotate(180deg);
}

label img {
    transition: 0.2s;
}

.conPrice {
    overflow: hidden;
    max-height: 0;
}

#colorSec:checked ~ .conColor {
    max-height: 300px;
    transition: 0.2s;
}

#colorSec:checked ~ .conColor {
    max-height: 300px;
    transition: 0.2s;
}

#colorSec:checked + label img {
    transform: rotate(180deg);
}

.conColor {
    overflow: hidden;
    max-height: 0;
}


#categorySec:checked ~ .conCategory {
    max-height: 300px;
    transition: 0.2s;
}

#categorySec:checked ~ .conCategory {
    max-height: 300px;
    transition: 0.2s;
}

#categorySec:checked + label img {
    transform: rotate(180deg);
}

.conCategory {
    overflow: hidden;
    max-height: 0;
}

.conColor, .conCategory, .conPrice {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:559px) {

    form {
        margin-top: 30px;
        margin-left: 0;
        align-items:flex-start;
    }
}
