<app-header></app-header>
<div class="spacer"></div>

<section>
    <app-filter class="filter" (filterChange)="onFilterChange($event)"></app-filter>
        @if (searchTerm) {
            <div class="searchTerm">
                <p>Risultati per: {{searchTerm}}</p>
            </div>
        }  
    <div class="containerGrande">
        <div *ngFor="let shoe of allShoes" [routerLink]="['/shoeDetail', shoe._id]" class="containerScarpa">
            <img class="image" [src]="shoe.immagini[0]" alt="">
            <p>{{shoe.nome}}</p>
            <p>{{shoe.prezzo | euro}}</p>
        </div>
    </div>
</section>

<app-footer></app-footer>