.spacer {
    height: 96px;
}

#inputFilter {
    display: none;
}

#inputFilter:checked ~ section {
    grid-template-areas: 
    "searchTerm extraButtons"
    "shoes shoes";
}
#inputFilter:checked ~ section app-filter{
    max-width: 0px;
}

#inputFilter:checked ~ section .containerGrande{
    width: 100%; 
    justify-items: center;
    transition: 0.2s;
}

section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "searchTerm extraButtons"
    "filter shoes";
}

.searchTerm {
    align-self: center; 
    grid-area: searchTerm;
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-width: 220px;
    margin-bottom: 10px;
    h3 {
        margin: 0;
        font-weight: lighter;
        font-size: 1.75em;
    }
    p {
        margin: 0;
        color: var(--lightBlack)
    }
}

.extraButtons {
    align-self: center; 
    width: 97%; 
    justify-items: flex-end;
    label {
        color: var(--lightBlack);
        cursor: pointer;
        user-select: none;
        display: flex;
    }
}



.containerGrande {
    grid-area: shoes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    width: 97%;
    gap: 20px;
}


#filterButton {
    display: none;
}

.labelFilter {
    display: none;
}

.containerScarpa {
    width: fit-content; 
    cursor: pointer;
    border-radius: 10px;
    .image {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        width: 100%
    }
    p {
        width: fit-content;
    }
}


app-filter {
    grid-area: filter;
    justify-self: center; 
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
}


@media (max-width:1199px) {
    .containerGrande {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:959px) {
    .spacer {
        height: 60px;
    }
}

@media (max-width:559px) {

    section {
        display: flex;
    }

    .searchTerm {
        text-align: center;
    }

    .containerGrande {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .containerScarpa {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        img {
            border-radius: 5px;
            cursor: pointer;
        }
        p {
            cursor: pointer;
        }
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.349);
    margin: 10px;     
    }

    .labelFilter {
        display: block;
        align-self: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--grayPressed2);
        margin: 10px;
        &:active {
            background-color: var(--grayPressed);
        }
    }


    #filterButton:checked ~ app-filter {
        max-height: 80vh;
        overflow: scroll;
    }

    app-filter {
        width: 100vw;
        height: fit-content; 
        padding-left: 0; 
        position: fixed;
        bottom: 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.349);
    }

    section {
        flex-direction: column;
    }
}

