<app-header></app-header>
<div class="spacer"></div>

<section>
    <app-filter class="filter" (filterChange)="onFilterChange($event)"></app-filter>

    <div class="containerGrande">
        @for (shoe of allShoes; track shoe) {
            <div [routerLink]="['/shoeDetail', shoe._id]" class="containerScarpa">
                <img class="image" src="{{shoe.immagini[0]}}" alt="">
                <p >{{shoe.nome}}</p>
                <p>{{shoe.prezzo | euro}}</p>
            </div>
        }
    </div>
</section>

<app-footer></app-footer>