.spacer {
    height: 96px;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "filter searchTerm"
    "filter shoes"
}

.containerGrande {
    grid-area: "shoes";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    width: 100%;
    gap: 20px;
}

.searchTerm {
    grid-area: searchTerm;
}

.containerScarpa {
    width: fit-content; 
    cursor: pointer;
    border-radius: 10px;
    .image {
        width: 100%
    }
    p {
        width: fit-content;
    }
}


app-filter {
    grid-area: filter;
    margin-top: 20px;
    padding-left: 40px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 20%;
    min-width: 220px;
}


@media (max-width:1199px) {
    .containerGrande {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:959px) {
    .spacer {
        height: 60px;
    }
}

@media (max-width:559px) {

    section {
        display: flex;
    }

    .searchTerm {
        text-align: center;
    }

    .containerGrande {
        grid-template-columns: 1fr;
    }

    .containerScarpa {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
        img {
            border-radius: 5px;
            cursor: pointer;
        }
        p {
            cursor: pointer;
        }
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.349);
    margin: 10px;     
    }

    app-filter {
        width: 100vw;
        height: fit-content; 
        padding-left: 0; 
    }
    section {
        flex-direction: column;
    }
}

