.spacer {
    height: 96px;
}


.containerGrande {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.containerScarpa {
    border-radius: 10px;
}

.image {
    height: 508px;
    width: 508px;
}


app-filter {
    display: block;
    width: fit-content;
}

section {
    display: flex;
}


