<app-header></app-header>
<div class="spacer"></div>

<section> 
    <label class="labelFilter" for="filterButton">Filtri</label>
    <input type="checkbox" id="filterButton"> 
    <app-filter class="deskFilter" (filterChange)="onFilterChange($event)"></app-filter>
        @if (searchTerm) {
            <div class="searchTerm">
                <p>Risultati per: {{searchTerm}}</p>
            </div>
        }  
    <div class="containerGrande">
        <div *ngFor="let shoe of allShoes" [routerLink]="['/shoeDetail', shoe._id]" class="containerScarpa">
            <img class="image" [src]="shoe.immagini[0]" alt="">
            <p>{{shoe.nome}}</p>
            <p>{{shoe.prezzo | euro}}</p>
        </div>
    </div>
</section>

<div #scrollTrigger style="height: 1px; visibility: hidden;"></div>

<app-footer></app-footer>