<app-header></app-header>
<div class="spacer"></div>
<section>
    <div class="userDetails">
        <p class="userName">{{user.name}} {{user.surname}}</p>
        <p>Member Nike da {{ user.date | date:'LLLL yyyy':'':'it' | capitalizeFirst }}</p>
    </div>
    <h2 *ngIf="orders.length > 0">I tuoi ordini</h2>
    <div class="test">
        <div class="singleTest" *ngFor="let order of orders">
            <p>ID ordine: {{ order._id }}</p> 
            <p>Data ordine: {{ order.orderDate | date }}</p> 
            <p>Stato ordine: {{ order.status}}</p>
            <hr> 
            <input type="checkbox" id="inputProduct">
            <div class="product" *ngFor="let order of order.orderItems">
                <p>Nome: {{order.shoeName}}</p>
                <p>Quantita': {{order.quantity}}</p>
                <p>Colore: {{order.color}}</p>
                <p>Taglia: {{order.size}}</p>
                <p>Prezzo: {{ order.price | currency: "EUR" }}</p>
            </div>
            <hr>
            <p>Totale: {{order.finalPrice | euro }}</p>
            @if (order.discountApplied !== 0) {
                <p>Sconto applicato: {{order.discountApplied | euro }}</p>
            }
        </div>
    </div>
    <h2 *ngIf="!emptyFav">I tuoi preferiti</h2>
    <div class="conFavorites">
        <div *ngFor="let favorite of favorites">
            <div class="favItem" *ngFor="let shoe of favorite.favoriteItems">
                <img [routerLink]="['/shoeDetail', shoe.shoeId]" src="{{shoe.imageIcon}}">
                <button (click)="removeFavorite(shoe)"><img src="icons/trash.svg" alt=""></button>
            </div>
        </div>
    </div>
    <p class="randomText">Potrebbero piacerti anche</p>
    <div class="conRandom">
                <div *ngFor="let shoe of random">
                        <div class="favItem">
                        <img [routerLink]="['/shoeDetail', shoe._id]" src="{{shoe.immagini[0]}}">
                    </div>
                </div>
    </div>

    <button class="logOut" (click)="logOut()">Esci</button>
</section>

<app-footer></app-footer>