.spacer {
    height: 96px;
}

.test {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.singleTest {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;

}

.product:not(:last-child) {
    border-bottom: 1px solid black;
}

section {
    border: 1px solid black;
    width: 80vw;
    margin: 0 auto;
    h2 {
        text-align: center;
    }
}