.container {
    font-weight: bolder;
    top: 96px;
    padding: 20px;
    position: fixed; 
    flex-direction: column;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    right: 10vw;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    > p {
        align-self: flex-start;
    }
}

.shoeDetails {
    display: flex;
    width: 100%;
}
 
img {
    height: 120px;
    width: 120px;
}


button {
    cursor: pointer;
    height: 2em;
    border-radius: 10px;
    height: 60px;
    width: 376px;
    border-radius: 30px;
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cartButton {
    background-color: black;
    color: white;
}

.paymentButton {
    background-color: white;
    border: 1px solid var(--grayPressed2);
}

.overlay {
    top: 60px;
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.465);
}

@media (max-width: 959px) {
    .container {
        top: 60px;
    }
}

@media (max-width: 559px) {
    .container {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        z-index: 4;
        top: 180px;
    }
}