:root {
  --lightGray: #f5f5f5;
  --grayPressed: #CACACB;
  --grayPressed2: #E5E5E5;
  --grayText: #707072;
}

@font-face {
  font-family: 'fontNike';
  src: url('../public/fonts/Nike-Futura.woff2') format('woff2'),
       url('../public/fonts/Nike-Futura.woff') format('woff'),
       url('../public/fonts/Nike-Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontNikeMedium';
  src: url('../public/fonts/HelveticaNowTextMedium.woff2') format('woff2'),
       url('../public/fonts/HelveticaNowTextMedium.woff') format('woff'),
       url('../public/fonts/HelveticaNowTextMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontNikeMedium2';
  src: url('../public/fonts/HelveticaNowDisplayMedium.woff2') format('woff2'),
       url('../public/fonts/HelveticaNowDisplayMedium.woff') format('woff'),
       url('../public/fonts/HelveticaNowDisplayMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontNikeLight';
  src: url('../public/fonts/HelveticaNowText.woff2') format('woff2'),
       url('../public/fonts/HelveticaNowText.woff') format('woff'),
       url('../public/fonts/HelveticaNowText.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'fontNikeMedium2';
  font-weight: 100;
  box-sizing: border-box;
  padding: 0;
}

