
.containerBanner {
    img {
        width: 100%;
    }
}

.newArrivals {

}

.bestSellers {

}


.conSliders {
    width: 1728px;
    margin: 0 auto;
}

.outerSlider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider {
    display: flex;
    gap: 12px;
    img {
        width: 568px;
    }
}