<app-header></app-header>
<div class="containerBanner"> <!--Contains the biggest image-->
    <img src="img/banner.jpg" alt="">
</div>


<h2>Home</h2>
<button [routerLink]="'/cart'">Carrello</button>
<button [routerLink]="isLoggedIn ? ['/dashboard', userId] : '/login'">Registrati/Accedi</button>
<button [routerLink]="'/products'">Prodotti</button>

<div class="newArrivals">
    <h5>Nuovi arrivi</h5>
    <div *ngFor="let newArrival of newArrivals">
        <p>{{newArrival.nome}}</p>
    </div>
</div> 

<div class="bestSeller">
    <h5>Best sellers</h5>
    <div *ngFor="let bestSeller of bestSellers">
        <p>{{bestSeller.nome}}</p>
    </div>
</div> 

<app-footer></app-footer>

