
<app-header></app-header>
<div class="spacer"></div>
<div class="home">
<div class="overlay"></div>

<div class="containerBanner"> <!--Contains the biggest image-->
    <img src="img/banner.jpg" alt="">
</div>


<h2>Home</h2>
<button [routerLink]="'/cart'">Carrello</button>
<button [routerLink]="isLoggedIn ? ['/dashboard', userId] : '/login'">Registrati/Accedi</button>
<button [routerLink]="'/products'">Prodotti</button>

<div class="conSliders">
    <div class="newArrivals">
        <h5>Nuovi arrivi</h5>
        <div class="buttons">
            <img src="icons/left.svg" (click)="sliderMove('left', 'newArrivals')" alt="">
            <img src="icons/right.svg" (click)="sliderMove('right', 'newArrivals')" alt="">
        </div> 
        <div #scrollContainer class="outerSlider">
            <div class="slider">
                <div [routerLink]="['/shoeDetail', newArrival._id]" *ngFor="let newArrival of newArrivals">
                    <img src="{{newArrival.immagini[0]}}">
                    <p>{{newArrival.nome}}</p>
                </div>
            </div>
        </div>
    </div> 

    <div class="bestSellers">
        <h5>Best sellers</h5>
        <div class="buttons">
            <img src="icons/left.svg" (click)="sliderMove('left', 'bestSellers')" alt="">
            <img src="icons/right.svg" (click)="sliderMove('right', 'bestSellers')" alt="">
        </div> 
        <div #scrollContainer2 class="outerSlider">
            <div class="slider">
                <div [routerLink]="['/shoeDetail', bestSeller._id]" *ngFor="let bestSeller of bestSellers">
                    <img src="{{bestSeller.immagini[0]}}">
                    <p>{{bestSeller.nome}}</p>
                </div>
            </div>
        </div>
    </div> 
</div>

<app-footer></app-footer>

</div>